.main1 {
    width: 100%;
    height: 100vh;
    background: red;
    display: flex;
}

.main1_half1 {
    width: 50%;
    height: 100%;
    background-color: #12151D;
}

.half1_text {
    width: 400px;
    height: 270px;
    margin-top: 175px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.half1_text h3 {
    font-size: 15px;
    color: yellow;
}

.half1_text h1 {
    font-size: 40px;
    color: white;
}

.half1_text p {
    color: white;
}

.half1_text button {
    width: 150px;
    height: 50px;
}

.main1_half2 {
    width: 50%;
    height: 100%;
    background-image: url("../../images/main1.svg");
}

@media (max-width:390px) {
    .main1 {
        height: 700px;
        display: flex;
        background-color: blue;
        flex-direction: column;
    }

    .main1_half1 {
        width: 100%;
        padding-left: 20px;
    }

    .half1_text {
        margin-left: 0;
        margin-top: 70px;
        width: 100%;
    }

    .half1_text h1 {
        font-size: 40px;

    }

    .half1_text p {
        width: 100%;
        font-size: 14px;
    }

    .main1_half2 {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}