.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
}


.nav_half {
    width: 42%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 48px;
}

.nav_menu ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 400px;
}

.nav_menu ul li a {
    text-decoration: none;
    color: #fff;
}

.nav_end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 58%;
    padding-right: 48px;
}

.nav_end img {
    display: none;
    color: white;
}

.nav_end button {
    width: 123px;
    background-color: transparent;
    height: 39px;
    border: 1px solid #fff;
    color: white;
}

@media (max-width:390px) {
    .navbar {
        background-color: transparent;
    }

    .nav_menu {
        display: none;
    }

    .nav_end button {
        display: none;
    }

    .nav_end img {
        display: block;
        color: white;
    }
}